<div id="navbar">
    <button id="home">
        <a href="/">Home</a>
    </button>
    <button id="courses">
        <a href="/coursework">Coursework</a>
    </button>
    <button id="contact">
        <a href="/contact">Contact Me</a>
    </button>
</div>