<div id="navbar">
    <button id="home" onclick="location.href = '/'">
        Home
    </button>
    <button id="courses" onclick="location.href = '/coursework'">
        Coursework
    </button>
    <button id="contact" onclick="location.href = '/contact'">
        Contact Me
    </button>
</div>