<%- include('partials/header.ejs') %>

<div id='info'>
    <h1>Josiah Sanchez</h1>
    <h2>Aspiring Software Developer and Software Engineer</h2>
    <h3>About</h3>
</div>

<div id="bio">
    <p>
        I'm a self-motivated and detailed-oriented individual, seeking to obtain my dream job
        as a software engineer. I have recently finished my B.S. of Computer Science with the
        California State University Monterey Bay, which has taught me the necessary skills and 
        disciplines to pursure my passions. Originally from Guam, I have tried to follow my father's
        footsteps in the field of technology.
    </p>
</div>

<div id="quote">
    "When something is important enough, you do it even if the odds are not in your favor."
    <br>
    - Elon Musk
</div>

<%- include('partials/footer.ejs') %>