#info {
    text-align: center;
}

#bio {
    text-align: center;
}

#quote {
    text-align: center;
    font-weight: bold;
}

#icons {
    justify-content: center;
    text-align: center;
    margin: 1em;
}

#github, #linkedin {
    font-size: 50px;
    padding: 1em;
}